<template>
  <div id="app">
    <div class="container" :style="{height}">
      <img
        class="image"
        v-for="(image, index) in arrList"
        :key="index"
        :src="image.src"/>
    </div>
  </div>
</template>

<script>
import config from '@/config/index.js';

export default {
  name: "App",
  components: {},
  data() {
    return {
      config,
      // 图片列表
      arrList: [
        {
          src: require("./assets/p1.png"),
        },
        {
          src: require("./assets/p2.png"),
        },
        {
          src: require("./assets/p3.png"),
        },
        {
          src: require("./assets/p4.png"),
        },
        {
          src: require("./assets/p5.png"),
        },
        {
          src: require("./assets/p6.png"),
        },
        {
          src: require("./assets/p7.png"),
        },
        {
          src: require("./assets/p8.png"),
        },
        {
          src: require("./assets/p9.png"),
        },
        {
          src: require("./assets/p10.png"),
        },
      ],
      count: 0, // 加载数量
      arrListShow: [], // 展示的数组
      arrHeightList: [], // 每列的高度
      imgBoxEls: [],
    };
  },
  computed: {
    height() {
      return Math.max.apply(null, this.arrHeightList) + 'px'
    },
  },
  mounted() {
    // this.preload();
    // this.$on("preloaded", () => {
    //   this.arrListShow = this.arrList.concat([]);
    // })
    this.$nextTick(() => {
      this.water();
    })
  },

  methods: {
    // 预加载
    preload() {
      this.arrList.forEach((item, index) => {
        let image = new Image();
        image.src = item.src;
        image.onload = image.onerror = (e) => {
          this.count += 1;
          this.arrList[index] =
            e.type === "load"
              ? Math.round(250 * (image.height / image.width))
              : 250;
          if (this.count === this.arrList.length) {
            this.$emit("preloaded");
          }
        };
      });
    },
    // 瀑布流
    water() {
      this.imgBoxEls = this.$el.getElementsByClassName('image');
      if(!this.imgBoxEls) return;
      console.log('1111',this.imgBoxEls)
      console.log('2222',this.imgBoxEls[0])
      console.log('3333',this.imgBoxEls[0].img)
      this.arrHeightList[0] = this.imgBoxEls[0].offsetHeight;
      console.log('this.arrHeightList[0]', this.arrHeightList[0])
      for(let index = 0; index < this.imgBoxEls.length; index+=1) {
        if(index < config.COL_NUM) {
          this.arrHeightList[index] = this.imgBoxEls[0].offsetHeight;
          this.imgBoxEls[index].style.left = config.COL_WIDTH * index + 'px';
        } else {
          const minHeight = Math.min.apply(null, this.arrHeightList);
          const minIndex = this.arrHeightList.indexOf(minHeight);
          this.imgBoxEls[index].style.top = minHeight;
          this.arrHeightList[minIndex] += this.imgBoxEls[index].offsetHeight
          this.imgBoxEls[index].style.left = config.COL_WIDTH * minIndex + 'px';
        }
      }
      console.log(this.arrHeightList)
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  width: 750px;
  border: 1px solid #eee;
}

.image {
  position: absolute;
  width: 250px;
}
</style>
